:root {
  --white: #F1F5FF;
  --black: #020218;
  --accent-color: hsl(168, 100%, 50%);
  --base-border-radius: 0.25em;

  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.panel {
  margin: 0 2vw;
  width: 45%;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
  gap: min(1em, 15px);
  justify-content: space-between;
  color: var(--white);
}

.web-title-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  gap: min(1em, 15px);
  align-items: center;
  justify-content: center;
}

.web-title-container .app-logo {
  width: 5vw;
}

.web-title-container .text-title .app-name {
  font-size: max(3vw, 6vh);
  font-weight: 900;
}

.scrollable {
   overflow-y: auto;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glass-bg {
  padding: 1.5em 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border: transparent;
  border-radius: var(--base-border-radius);
  color: var(--white);
  line-height: 1.5em;
}

.icon-btn {
  width: 2rem;
  border: none;
  background-color: transparent;
  align-items: center;
  opacity: 20%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon-btn:hover {
  opacity: 100%;
  transition: all 0.3s ease;
}

.btn {
  width: 20%;
  height: 3em;
  background-color: var(--accent-color);
  border-radius: var(--base-border-radius);
  color: var(--black);
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:active {
  background-color: hsl(168, 60%, 50%);
  transform: translateY(0.2em);
  transition: all 0.05s ease;
}