# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
__pycache__

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.nuxt
.nitro
.cache
.output
.env

/cypress/videos/
/cypress/screenshots/

.vscode

# Editor directories and files
.vscode/*
server/.venv
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private Data
server/data.json