:root {
  --accent-base-hsl-triplet: 168, 100%, 50%;
  --accent-reverse-hsl-triplet: 340, 84%, 50%;
  --white-base-hsl-triplet: 223, 100%, 97%;
  --black-base-hsl-triplet: 240, 85%, 5%;

  --base-border-radius: 0.25em;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025em;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.panel {
  margin: 0 2vw;
  width: 45%;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
  gap: min(1em, 15px);
  justify-content: space-between;
}
.dark-mode .panel {
  color: hsl(var(--white-base-hsl-triplet));
}

.web-title-container {
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  gap: min(1em, 15px);
  align-items: center;
  justify-content: center;
  transition: all ease 0.2s;
}

.web-title-container .app-name {
  font-size: max(2vw, 3vh);
  font-weight: 300;
  letter-spacing: 1em;
  animation: fade-in-up 1s;
}

.dark-mode .web-title-container .app-name {
  color: hsl(var(--white-base-hsl-triplet));
}

.scrollable {
   overflow-y: auto;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glass-bg {
  padding: 1.5em 1em;
  border-radius: var(--base-border-radius);
  line-height: 1.5em;
  background-color: hsl(var(--white-base-hsl-triplet), 0.1);
}
.dark-mode .glass-bg {
  color: hsl(var(--white-base-hsl-triplet));
  border: transparent;
}
.light-mode .glass-bg {
  border: hsl(var(--black-base-hsl-triplet), 0.5) solid;
}

.icon-btn {
  width: 2rem;
  border: none;
  background-color: transparent;
  align-items: center;
  opacity: 75%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon-btn:hover {
  color: hsl(var(--accent-base-hsl-triplet));
  opacity: 100%;
  transition: all 0.3s ease;
}

.btn {
  width: 10em; 
  height: 3em;
  min-height: 40px;
  background-color: hsl(var(--accent-base-hsl-triplet));
  border-radius: var(--base-border-radius);
  color: hsl(var(--black-base-hsl-triplet));
  /* border: transparent; */
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
}
.light-mode .btn {
  border: hsl(var(--black-base-hsl-triplet), 0.5) solid;
}
.btn:active {
  background-color: hsl(168, 60%, 50%);
  transform: translateY(0.2em);
  transition: all 0.05s ease;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--black-base-hsl-triplet), 0.1);
  border-radius: 5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--white-base-hsl-triplet), 0.1);
  border-radius: 5em;
}
.light-mode ::-webkit-scrollbar-thumb {
  background: hsl(var(--black-base-hsl-triplet), 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--black-base-hsl-triplet), 0.5);
}
.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--white-base-hsl-triplet), 0.2);

}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(2em);
    letter-spacing: 0.8em;
  }
  
  to {
    opacity: 1;
    letter-spacing: 1em;
  }
}