:root {
  --primary-accent-color: #F1F5FF;
  --secondary-accent-color: #AFD3E2;

  --black: #2B3467;
  --black-1: #146C94;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
}

#app {
  background: linear-gradient(135deg, rgba(246,255,222,1) 0%, rgba(227,242,193,1) 33%, rgba(201,219,178,1) 65%, rgba(170,200,167,1) 100%);
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel {
  margin: 2vw;
  width: 40%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.web-title-container {
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  gap: min(1em, 15px);
  align-items: center;
  justify-content: center;
}

.web-title-container .app-logo {
  width: 5vw;
}

.web-title-container .text-title .app-name {
  font-size: min(2vw, 30px)
}

.web-title-container .text-title .hashtag {
  font-size: min(1.5vw, 20px);
  font-weight: 300;
  font-style: italic;
}

.p-name {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.p-name input, textarea {
  padding: 2em 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1vh;
  border: none;
}

.p-name textarea {
  padding: 1em 1em;
  font-size: 100%;
}

.p-name input:focus, textarea:focus {
  outline: none;
}

.input-box {
  height: 2.5em;
}

.btn {
  width: 20%;
  height: 3em;
  background-color: #f4af5b;
  color: #8b5f29;
  font-weight: 700;
  border-radius: 0.5vh;
  border: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #f7b769;
  color: #8b5f29;
  transition: all 0.3s ease;
}


/* ----- Right Panel Side ----- */

.right-panel { /*this is the same as the left-panel*/
  margin: 2vw;
  width: 45%;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.p-name-bar {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.p-list {
  max-height: 92vh;
}

.p-name-bar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-name-bar-btn button {
  width: 2rem;
  border: none;
  background-color: transparent;
  color:rgba(255, 255, 255, 0.7)
  align-items: center;
}

.p-name-bar-btn button img {
  width: 50%;
  opacity: 20%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.p-name-bar-btn button img:hover {
  opacity: 100%;
  transition: all 0.3s ease;
}

.p-confirmed {
  margin-top: 2em;
  margin-right: 1.5em;
  margin: 2em 1.5em 0 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.s-confirmed {
  display: flex;
  flex-direction: column;
  gap: 1em;

  text-align: justify;
  transition: all 0.1s ease;
}

.s-confirmed label {
  border-radius: 0.5em;
  padding: 1.2em 2em;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  line-height: 1.75em;
  transition: all 0.1s ease;
}

.s-confirmed label:hover {
  background-color: #f4af5b;
  transform: translate(-0.2em);
  transition: all 0.2s ease;
}

.s-confirmed input:checked~label {
  background-color: var(--black);
  color: var(--primary-accent-color);
  box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
  transform: translate(-0.3em, -0.3em);
  transition: all 0.2s ease;
}

/* ----- General ----- */
.scrollable {
   overflow-y: auto;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}